* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	font: 16px/1.5 "Roboto Condensed", Roboto, "Helvetica Neue", Helvetica, Segoe, Arial, sans-serif;
	color: #444;
	background-color: #eee;
	font-weight: 400;
}
.head {
	font-size: 5em;
	line-height: 1;
	font-weight: 900;
	text-rendering: optimizeLegibility;
	margin: 0.3em 0 0.5em;
}
.subhead {
	font-weight: 400;
	font-size: 1.6em;
}
p {
	font-size: 1.3em;
}
a {
	font-weight: 400;
	text-decoration: none;
	color: #0039FF;
}
p a {
	border-bottom: 0.1em solid #0039ff;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
}
@media screen and (min-width: 500px) {
  body {
		font-size: 18px;
	}
	.wrapper {
	  width: 80%;
		margin-top: 3em;
  }
}
@media screen and (min-width: 800px) {
	body {
		font-size: 20px;
	}
	.wrapper {
		width: 70%;
		margin-top: 6em;
	}
}
@media screen and (min-width: 1100px) {
  .wrapper {
	  width: 770px;
  }
}
