* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	padding: 3em;
	font: 19px/1.5 "Clear Sans", Roboto, "Helvetica Neue", Helvetica, Segoe, Arial, sans-serif;
	color: #555;
	font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222;
	margin: 0 0 20px;
}
p,
ul,
ol,
table,
pre,
dl {
	margin: 0 0 20px;
}
a {
	color: #39c;
	font-weight: 400;
	text-decoration: none;
	border-bottom: #
}
.wrapper {
	width: 960px;
	margin: 0 auto;
}
blockquote {
	border-left: 1px solid #e5e5e5;
	margin: 0;
	padding: 0 0 0 20px;
	font-style: italic;
}
img {
	width: 100%;
}
strong {
	color: #222;
	font-weight: 700;
}
section {
	width: 500px;
	float: right;
	padding-bottom: 50px;
}
/* CUSTOM */

.huge {
	font-size: 3em;
}
.subhead {
  color: #555;
}
.avatar {
	width: 400px;
	margin-top: 1em;
}
.container {
  margin: 0;
  padding: 0;
}
.left {
  float: left;
  width: 50%;
  padding-right: 1.5em;
}
.right {
  float: right;
  width: 50%;
}
